<div class="main mediacentre">
    <div class="content" bottom-scroll="limitTo = limitTo + 20">
        <article class="twelve">
            <em class="metadata zero-mobile">
                <i18n>mediacentre.combo.searchPlaceholder</i18n>
            </em>
            <input type="text" class="three zero-mobile search" i18n-placeholder="mediacentre.resource.search" ng-model="search.text"
            />
            <input type="text" class="zero twelve-mobile search" i18n-placeholder="mediacentre.resource.search.full" ng-model="search.text"
            />
            <em class="metadata zero-mobile">
                <i18n>mediacentre.in</i18n> [[ filteredResources.length ]] [[ lang.translate(filteredResources.length ===
                1 ? "mediacentre.result" : "mediacentre.results") ]]
            </em>
        </article>
        <article class="zero twelve-mobile resource-filters" ng-show="openers.filters">
            <div class="row" ng-include="'/mediacentre/public/template/filters.html'"></div>
        </article>
        <div class="twelve row">
            <article class="three cell horizontal-spacing resource-filters zero-mobile">
                <div class="row" ng-include="'/mediacentre/public/template/filters.html'"></div>
            </article>
            <div class="cell nine horizontal-spacing twelve-mobile resource-list" style="padding-right: 0">
                <!-- <div class="cell four horizontal-spacing-twice" ng-repeat="resource in filteredResources">
                    <article class="row resource">
                        <div class="four cell cover" style="background-image: url([[resource.urlVignette]]);">
                            &nbsp;
                        </div>
                        <div class="horizontal-spacing cover-title">
                            <h4>[[resource.nomRessource]]</h4>
                        </div>
                    </article>
                </div> -->
                <div class="row resource" ng-click="resource.open()" ng-repeat="resource in filteredResources | filter: search.text | limitTo: limitTo">
                    <img class="cell cover" src="[[ resource.urlVignette ]]" alt="[[ resource.nomRessource ]]" />
                    <article class="cell resource-data">
                        <div>
                            <h4 class="resource-name">[[ resource.nomRessource ]]</h4>
                            <h6 class="zero-mobile">
                                <i18n>mediacentre.resource.edited.by</i18n>[[ resource.nomEditeur ]]
                            </h6>
                        </div>
                        <div class="bagde-list zero-mobile">
                            <span class="badge level" ng-repeat="level in resource.niveauEducatif">[[ level.nom ]]</span>
                            <span class="badge type">[[ resource.typePresentation.nom ]]</span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="loader" ng-show="loaders.resources">
        <p class="horizontal-margin-twice"><i class="spinner"></i></p>
        <h4>
            <i18n>mediacentre.loading.status</i18n>
        </h4>

    </div>
</div>

<!-- <style>
    .resource {
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        padding: 35px 25px;
    }

    .resource:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .cover {
        height: 150px;
        width: 110px;
        background-repeat: no-repeat;
        background-size: auto 150px;
        margin-top: -35px;
        margin-left: -35px;
        position: absolute;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        background-position: -20px;
    }

    .cover-title {
        width: calc(100% - 110px);
        margin-left: 90px;
    }

    .cover-title>h4 {
        margin: 0;
    }
</style> -->